html, body {
  overflow-x: hidden;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
html{
  /* padding: 20vw; */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tempclass {
  width: 100vw;
  padding: 0;
}

.bottom-nav {
  width: fit-content;
  padding: 0 2rem;
}

.ad-details-page {
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  .ad-details-page {
    flex-wrap: wrap;
  }
  .ad-details-desc {
    width: fit-content;
  }
}