html, body {
  overflow-x: hidden;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
