name: Deploy to Droplet

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: prod
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy via SSH
              uses: appleboy/ssh-action@v0.1.9
              with:
                  host: ${{ secrets.DROPLET_HOST }}
                  username: ${{ secrets.DROPLET_USER }}
                  key: ${{ secrets.DROPLET_PEKEY1 }}
                  port: 22
                  script: |
                      cd oysloe-webappbyedmund
                      sudo rm -rf dist/* 
                      git pull origin main           
                      npm install                   
                      npm run build                 

                      sudo rm -rf /var/www/oysloe/dist/*

                      sudo cp -r dist/* /var/www/oysloe/dist

                      sudo chown -R www-data:www-data /var/www/oysloe
                      sudo chmod -R 755 /var/www/oysloe

                      sudo systemctl restart nginx
